* {
    box-sizing: border-box;
}
a {
  text-decoration: none;
}
html, body {
    font-size: 10px;    
    --font-size: 1rem;
    --length: 1rem;
    font-weight: normal;
    max-width: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
   
}
.header {    
    min-height: 100vh;
    margin: 0;
    background: url(../image/bg_dog.png)no-repeat;
    background-size: 100% 100%;
}
.header-info {
    max-width: calc(var(--length) * 102);
    margin: 0 auto;
    /* padding-top: 2.6rem; */    
    padding-top: calc(var(--length) * 2.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header-info_wrap {
    display: flex;
    flex-wrap: wrap;
}
.header-info_text {
    display: block;
    font-size: calc(var(--font-size) * 1.2);
    color: #fff;
    line-height: 22px;
}
.header-info_time {
    display: flex;
    flex-direction: row;
}
.wrap {
    max-width: calc(var(--length) * 102);
    margin: auto;     
}
.info-call_left {
    /* margin-left: 3rem; */
    margin-left:calc(var(--length) * 3);    
    /* margin-right: 3.2rem; */
    margin-right: calc(var(--length) * 3.2);
}
.header-info_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-left: calc(var(--length) * 1.2);
}
.header-info_icon {
    width: calc(var(--length) * 2.4);
    height: calc(var(--length) * 2.4);
}
.icon_phone {
    width: calc(var(--length) * 2);
    height: calc(var(--length) * 2);
}
.button {
    width: calc(var(--length) * 21);
    height: calc(var(--length) * 4.8);
    padding: 0;
    border: 0;
    border-radius: 1rem;
    background: #F2726F;
    box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24);
    font-weight: 500;
    font-size: calc(var(--font-size) * 1.2);
    color: #fff;
    cursor: pointer;    
}   
.header_button {
    padding-bottom: calc(var(--length) * 32.1);
}
.nav {
    max-width: calc(var(--length) * 102);
    height: calc(var(--length) * 6);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    margin-top: calc(var(--length) * 2.8);
    border-radius: 1rem;
    position: relative;
}
.nav-menu_burger {
    display: none;
}
.nav-menu_burger-visible {
    display: block;
    position: absolute;
    top: calc(var(--length) * 4);
    left: calc(var(--length) * 6);
    width: calc(var(--length) * 15);
    background: #fff;
    border-radius: 1.5rem;
    border: solid .2rem grey;
}
.burger-menu_list {
    padding-left: calc(var(--length) * 2);
}
.nav-menu_list {
    display: flex;
    justify-content: space-between;
}
.nav-menu_item {
    font-size: calc(var(--font-size) * 1.4);
    font-weight: 700;
    list-style-type: none;
    margin-right: calc(var(--length) * 3.7);
    color: #000;
    line-height: 2rem;
}
.burger-menu_item {
    font-size: calc(var(--font-size) * 1.4);
    font-weight: 700;
    list-style-type: none;
    margin-right: calc(var(--length) * 3.7);
    color: #000;
    line-height: 2em;
    position: relative;
}
.burger-icon-servise {
    cursor: pointer;
}
.burger-icon-shop {
    cursor: pointer;
}
.burger-downlist_servise {
    display: none;
    position: absolute;
    left: calc(var(--length) * 3);
    width: calc(var(--length) * 12);
    border: solid 0.2rem grey;
    border-radius: 1.5rem;
    padding-left: calc(var(--length) * 2);
    margin-left: calc(var(--length) * 4);
    background: #fff;
}
.burger-downlist_shop {
    display: none;
    position: absolute;
    left: calc(var(--length) * 3);
    width: calc(var(--length) * 12);
    border: solid 0.2rem grey;
    border-radius: 1.5rem;
    padding-left: calc(var(--length) * 2);
    margin-left: calc(var(--length) * 4);
    background: #fff;
}
.burger-downlist_block {
    display: block;
}
.burger-icon_expand {
    position: absolute;
    left: calc(var(--length) * 6);
    top: 0;
}
.nav-menu_item > a {
  color: #000;
}
.icon_cart {
    margin-right: 0;
    cursor: pointer;
}
.icon_search {
    margin-right: calc(var(--length) * 2.2);
    cursor: pointer;    
}
.nav-menu_icon {
    display: flex;
}
.nav-menu_cart {
    display: flex;
    margin-right: calc(var(--length) * 4.8);
}
.cart-cicle {
    width: calc(var(--length) * 1.6);
    height: calc(var(--length) * 1.6);
    border-radius: 50%;
    background-color: #F2726F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: calc(var(--length) * 2);
}
.cart-count {
    color: #fff;
    font-size: calc(var(--font-size));
    padding-top: calc(var(--length) * .1);
    padding-left: calc(var(--length) * .1);
}
.header-title {
    margin-top: calc(var(--length) * 12.6);
    margin-bottom: calc(var(--length) * 5.7);
    font-weight: 900;
    font-size: calc(var(--font-size) * 5.6);
    line-height: 5.6rem;
    color:  #fff;
}
.nav-icon_expand {
  display: inline-block;
  margin-left: calc(var(--length) * .5);
  cursor: pointer;
}
.nav-menu_list {
  position: relative;
}
.nav-menu_downlist {
  position: absolute;
  display: block;
  background: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
  visibility: hidden;
}
.menu-downlist_bottom {
    margin-bottom: calc(var(--length) );
}
.menu-downlist_hidden {
  visibility: visible;
}

/* end header */

.main {
    width: 100%;
    background-color: #F5F5F5;
}
.container {
    max-width: 100%;     
}
.wrap-info {
    max-width: calc(var(--length) * 102);
    margin: 0 auto;
}
.info-who {
    background-color: #5D62B5;
    border-radius: 4rem;
    /* max-height: calc(var(--length) * 70); */
    position: relative;
    top: calc(var(--length) * -7.5);
    display: flex;
    align-items: center;    
    justify-content: center;
}
.info-who_phone {
    position: relative;
}
.info-who_cicle{    
    display: inline-block;
    position: absolute;
    z-index: 10;
    right: -7%;
    top: -15%;
    max-width: calc(var(--length) * 20.1);
    max-height: calc(var(--length) * 31.7);
}
.info_cicle {
    width: 100%;
}
.info-cicle {
    max-width: 100%;
}
.info_page {
    display: flex;
    align-items: center;
}
.info-who_namepage {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding: calc(var(--length) * 10) calc(var(--length) * 8.7) calc(var(--length) * 35.4) calc(var(--length) * 8.7);
}
.info_name {
    margin: 0;
    font-size: calc(var(--length) * 1.2);
    letter-spacing: .25rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #F5F5F5;
}
.info-who_title {
    font-weight: 900;
    font-size: calc(var(--font-size) * 3.6);
    line-height: 4.2rem;
    margin-top: calc(var(--length) * 3.3);
}
.info-who_text {
    font-weight: normal;
    font-size: calc(var(--font-size) * 1.6);
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #F5F5F5;
}
.info_blob {
    position: absolute;    
    width: 65%;
    top: 45%;
}
.info_dog {
    position: absolute;    
    border-radius: 4rem;    
    width: 82.9%;
    left: 8.5%;
    top: 65%;
}
.info-promise {
    margin-top: calc(var(--length) * 8);
}
.promise-name_color {
    color: #5D62B5;
}
.info-promise_title {
    font-weight: 900;
    font-size: calc(var(--font-size) * 3.6);
    color: #000;
}
.info-promise_block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: calc(var(--length) * 6);
}
.info-promise_block {
    display: flex;
    justify-content: space-between;
}
.promise-block {
    max-width: 31.33%;
    display: flex;
}
.promise_title {
    color: #F2726F;
    font-weight: 900;
    font-size: calc(var(--font-size) * 1.9);
    margin: 0;
    padding-top: calc(var(--length) * 1);
}
.promise_text {
    font-weight: normal;
    font-size: calc(var(--font-size) * 1.6);
    line-height: 2.4rem;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}
.promise_picture {
    margin-right: calc(var(--length) * 2.3);
    margin-bottom: calc(var(--length) * 11);
}
.wrap-video {
    max-width: 100%;
    background: #2AB1AD;
    position: relative;    
}
.video-picture_blob {
    position: absolute;
    z-index: 15;
    height: 100%;    
}
.video-picture_cicle {
    margin-top: calc(var(--length) * 12);
    margin-left: calc(var(--length) * 2);
    position: absolute;
    z-index: 5;
}
.video-picture_dog {
    position: absolute;
    width: 50%;
    z-index: 20;
    bottom: 0;
}
.video-info {    
    margin: 0 auto;
    margin-left: 55%;
    position: relative;
    z-index: 10;
}
.video-info_text {
    max-width: calc(var(--length) * 41.1);
    font-weight: 900;
    font-size: calc(var(--font-size) * 3.6);
    line-height: 117%;    
    padding-top: calc(var(--length) * 11.2);
    padding-right: calc(var(--length) * 2);
    padding-bottom: calc(var(--length) * 4.2);
    margin-bottom: 0;
}
.video-info_button {    
    padding-bottom: calc(var(--length) * 17.5);
}
.video-tennis_line {
    position: absolute;
    right: 1%;
    top: 0;
    width: 50%;
}
.video-picture_blob2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.wrap-services_block {
    max-width: calc(var(--length) * 102);
    margin: 0 auto;
    margin-top: calc(var(--length) * 11);
}
.wrap-service_title {
    margin: 0;
    margin-top: calc(var(--length) * 3.3);
    font-weight: 900;
    font-size: calc(var(--font-size) * 3.6);
    color: #000000;
}
.wrap-service_cards {
    margin-top: calc(var(--length) * 7.8);
    display: flex;
    flex-direction: column;
}
.block-line_one {
    display: flex;
    justify-content: space-between;    
}
.block-line_two {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 0;   
}
.wrap-service_card {
    max-width: calc(var(--length) * 32.4);
    /* height: calc(var(--length) * 34); */
    display: flex;
    background: #fff;
    margin-bottom: calc(var(--length) * 2.4);
    border-radius: calc(var(--length) * 2.5);
    cursor: pointer;
}
.wrap-service_card:hover {
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.wrap-service_card-right {
    margin-right: calc(var(--length) * 4.4); 
}
.service-card_block {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    padding: calc(var(--length) * 5) calc(var(--length) * 4.4) calc(var(--length) * 5) calc(var(--length) * 4.3);
}
.service-card_img {
    text-align: center;
    margin-bottom: calc(var(--length) * 4.74);
}
.service-card_title {
    margin: 0;
    font-weight: 900;
    font-size: calc(var(--font-size) * 1.9);    
    text-align: center;
    color: #F2726F;
    margin-bottom: calc(var(--length) * 2);
}
.service-card_text {
    font-size: calc(var(--font-size) * 1.6);
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.15px;
    color: #4B4B4B;
    margin: 0;
}
.service-button {
    width: calc(var(--length) * 12.4);
    height: calc(var(--length) * 4.8);
    padding: 0;
    border: 0;
    border-radius: 10px;
    background: #F2726F;
    box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24);
    font-weight: 700;
    font-size: calc(var(--font-size) * 1.2);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: calc(var(--length) * 6.6); 
    margin-bottom: calc(var(--length) * 11.2);   
}
.wrap-service_button {
    width: 100%;
    text-align: center;
}
.wrap-apointment {
    margin: 0;
    background: url(../image/apointment.png)no-repeat;
    max-height: calc(var(--length) * 98.9);
    background-size: 100% 100%;
    position: relative;
    display: flex;
    z-index: 1;
}
.apointment-img-cicle {
    position: absolute;
    margin-bottom: calc(var(--length) * 17.5);
    /* width: 89.3rem; */
    height: calc(var(--length) * 93.28);
    width:60%;
    left: calc(var(--length) * 4);
}
.apointment-content {
    position: relative;    
    display: flex;
    margin: 0 auto;
    margin-top: calc(var(--length) * 13);
    margin-bottom: calc(var(--length) * 21);
    
}
.content_form {
    width: calc(var(--length) * 58.5);
    height: calc(var(--length) * 64);
    background: #5D62B5;
    border-radius: 2.5rem;
    text-align: center;    
    padding-top: calc(var(--length) * 7.6);
    
}
.content-form_title {
    margin: 0;
    margin-bottom: calc(var(--length) * 4.8);
    font-weight: 900;
    font-size: calc(var(--font-size) * 3.6);
}
.input {
    width: calc(var(--length) * 22.4);
    height: calc(var(--length) * 4.8);
    border-radius: 1rem;
    border: #fff solid 1px;
    background: #5D62B5;
    color: #fff;
    opacity: .8;
    font-weight: 400;
    font-size: calc(var(--font-size) * 1.6);
    align-items: center;
    letter-spacing: 0.15px;
    padding-left: calc(var(--length) * 2.3);
    margin-right: calc(var(--length) * 1.12);
    margin-left: calc(var(--length) * 1.12);
    margin-bottom: calc(var(--length) * 2.2);
}
.input::-webkit-input-placeholder { 
    color: #fff; 
}
.hidden {
    display:none;
}
.textarea {
    width: calc(var(--length) * 47);
    height: calc(var(--length) * 18);
    border-radius: 1rem;
    border: #fff solid 1px;
    background: #5D62B5;
    color: #fff;
    opacity: 0.8;
    font-weight: 400;
    font-size: calc(var(--font-size) * 1.6);
    align-items: center;
    letter-spacing: 0.15px;
    padding-left: calc(var(--length) * 1.7);
    padding-top: calc(var(--length) * 2.3);
    margin-bottom: calc(var(--length) * 3);
}
.button_form {
    margin: 0;
    margin-left: calc(var(--length) * 26);
}
.content_text {
    margin-left: calc(var(--length) * 11.1);
    width: calc(var(--length) * 32.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-text_title {
    font-weight: 900;
    font-size: calc(var(--font-size) * 3);
    line-height: 3.6rem;
    margin: 0; 
    margin-bottom: calc(var(--length) * 4.6);   
}
.content-text_number {
    margin: 0;
    font-weight: 900;
    font-size: calc(var(--font-size) * 9.6);
    margin-bottom: calc(var(--length) * 4.6);
}
.content-text_customer {
    margin: 0;
    font-weight: 900;
    font-size: calc(var(--font-size) * 1.9);
}
.wrap-test {
    width: 100%;
    position: relative;
}
.wrap-test_block {
    max-width: calc(var(--length) * 102);
    margin: 0 auto;
    position: relative;
}
.gallery-block {
    background: #5D62B5;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    top: calc(var(--length) * -7.5);
    z-index: 5;
}
.gallery-info_photos {
    margin-top: calc(var(--length) * 5);
    position: relative;
    max-width: calc(var(--length) * 84.6);
}
.gallery-info_photo {
    border-radius: 2.5rem;
    width: 100%;
    height: 100%;    
}
.info_live {
    font-weight: 500;
    font-size: calc(var(--font-size) * 1.6);
    padding: .5rem 1.9rem;
    background: #62B58F;
    border-radius: 50px;
    position: absolute;
    z-index: 10;
    right: calc(var(--length) * 3.2);
    top: calc(var(--length) * 3);
}
.gallery-block_in {    
    position: relative;
    bottom: calc(var(--length) * -10);    
}
.info-who_title {
    margin: 0;
    margin-top: calc(var(--length) * 3.3);
    margin-bottom: calc(var(--length) * 5.5);
}
.gallery-info_items {
    display: flex;
    justify-content: space-around;
    margin-bottom: calc(var(--length) * 1.5);
}
.gallery-info_item {
    margin: 0;
    font-weight: 400;
    font-size: calc(var(--font-size) * 1.6);
    line-height: 2.4rem;
    letter-spacing: 0.15px;
}
.item-cicle_green::after {
    display: block;
    width: calc(var(--length) * .6);
    height: calc(var(--length) * .6);
    content: '';    
    border-radius: calc(var(--length) * 1);
    background: #62B58F;
    position: relative;
    bottom: calc(var(--length) * 2.3);
    left: calc(var(--length) * 14.3);  
}
.item-cicle_grey::after {
    display: block;
    width: calc(var(--length) * .6);
    height: calc(var(--length) * .6);
    content: '';    
    border-radius: calc(var(--length) * 1);
    background: #D5D5D5;
    position: relative;
    bottom: calc(var(--length) * 2.3);
    left: calc(var(--length) * 14.3);    
}
.info_cursor {
    cursor: pointer;
}
.info-item_bold {
    font-weight: bold;
}
.gallery-info_line {
    border-top: .1rem solid #fff;
    position: relative;
}
.info-boldline_bottom {
    border-bottom: #fff solid .4rem;
    width: 24%;    
    position: absolute;
    top: calc(var(--length) * -.25);
}
.info-boldline_move {
    margin-left: 18.9%;
}
.info-boldline_move1 {
    margin-left: 47.3%;
}
.info-boldline_move2 {
    margin-left: 76.4%;
}
.customers-block {
    margin-top: calc(var(--length) * 12);
    position: relative;
    display: flex;
}
.blob-cus {
    position: absolute;
    left: 0;
    width: 45%;
    bottom: calc(var(--length) * 3);
    /* z-index: -1; */
}
.info-page_cards {
    display: flex;
    margin-bottom: calc(var(--length) * 18);
}
.info-page_card {
    width: calc(var(--length) * 32.4);
    /* max-height: calc(var(--length) * 34); */
    display: flex;
    background: #fff;    
    border-radius: 2.5rem;
    
}
.info-page_card:not(:last-child) {
    margin-right: calc(var(--length) * 2.4);
}
.page-card_in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--length) * 5) calc(var(--length) * 4.4)  calc(var(--length) * 5) calc(var(--length) * 4.3);
}
.customer-block_title {
    font-weight: 900;
    font-size: calc(var(--font-size) * 3.6);
    line-height: 4.2rem;
    color: #000000;
    max-width: calc(var(--length) * 32.4);
    margin-right: calc(var(--length) * 4.8);
}
.page-card_text {
    font-weight: normal;
    font-size: calc(var(--font-size) * 1.6);
    line-height: 2.4rem;
    letter-spacing: 0.15px;
    color: #4B4B4B;
    margin: 0;
}
.page-card_name {
    font-weight: bold;
    font-size: calc(var(--font-size) * 1.6);
    line-height: 2.4rem;
    letter-spacing: 0.15px;
    color: #F2726F; 
}
.page-card_info {
    display: flex;
    align-items: center;
    margin-top: calc(var(--length) * 3.6);
}
.page-card_img {    
    margin-right: calc(var(--length) * 1.7);    
}
.wrap-stats {
    width: 100%;
    background: #2AB1AD;
    position: relative;
}
.wrap-stats_container {
    margin: 0 auto;
    max-width: calc(var(--length) * 102);
    position: relative;
}
.stats-info {
    padding-top: calc(var(--length) * 11.2);
}
.img-stats_bulb {
    position: absolute;
    right: calc(var(--length) * 11.7);
    width: 50%;
}
.img-stats_dog {
    position: absolute;
    max-width: calc(var(--length) * 49.8);
    right: 0;
    top: calc(var(--length) * -10);
}
.stats-info_title {
    font-weight: 900;
    font-size: calc(var(--font-size) * 3.6);
    line-height: 4.2rem;
    color: #FFFFFF;
    max-width: calc(var(--length) * 41.1);
    margin: 0;
    margin-top: calc(var(--length) * 3.2);
    margin-bottom: calc(var(--length) * 7.9);
}
.stats-info_block {
    display: flex;
    justify-content: space-between;
}
.stats-info_info {
    display: flex;
    align-items: center;
}
.stats-info_text {
    margin-left: calc(var(--length) * 1.1);
}
.stats-text_number {
    font-weight: 900;
    font-size: calc(var(--font-size) * 3.6);
    margin: 0;
    margin-bottom: calc(var(--length) * .3);
}
.stats-text_descr {
    font-size: calc(var(--font-size) * 1.6);
    line-height: 2.4rem;
    letter-spacing: 0.15px;
    color: #5D62B5;
    margin: 0;
}
.stats-block_button {
    max-width:  calc(var(--length) * 102);    
    margin-top: calc(var(--length) * 9);
    position: relative;
    bottom: calc(var(--length) * -7.5);
}
.stats-block_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--length) * 4.3) calc(var(--length) * 7.6) calc(var(--length) * 4.6) calc(var(--length) * 7);
    background: #5D62B5;
    border-radius: 2.5rem;
    padding-left: calc(var(--length) * 4);
    padding-right: calc(var(--length) * 4);
    flex-wrap: wrap;
}
.stats-block_text {
    font-weight: 900;
    font-size: calc(var(--font-size) * 2.4);
    line-height: 3rem;
    max-width: calc(var(--length) * 56.2);
    margin: 0;
}

.footer-about {
    max-width: calc(var(--length) * 102);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--length) * 17);
    margin-bottom: calc(var(--length) * 9.8);
}
.footer-about_logo {
    max-width: calc(var(--length) * 24);
}
.footer_text {
    font-weight: normal;
    font-size: calc(var(--font-size) * 1.4);
    line-height: 2.2rem;
    letter-spacing: 0.15px;
    color: #4B4B4B;
    margin: 0;
    margin-top: calc(var(--length) * 2.3);
    margin-bottom: calc(var(--length) * 3.3);
    
}
.footer_icons {
    display: flex;
    align-items: center;
}
.footer_icon {
    text-align: center;
    
}
.footer_icon:not(:last-child) {
    margin-right: calc(var(--length) * 2.5);
}
.footer_title {
    font-weight: bold;
    font-size: calc(var(--font-size) * 1.4);
    letter-spacing: 0.15px;
    color: #4B4B4B;
}
.footer_link {
    font-weight: bold;
    font-size: calc(var(--font-size) * 1.4);
    letter-spacing: 0.15px;
    color: #4B4B4B;
}
.footer-about_links {
    display: flex;
    flex-direction: column;
    
}
.about_links {
    display: flex;
    justify-content: space-between;
    max-width: calc(var(--length) * 35.6);
}
.footer-links_left {
    display: flex;
    flex-direction: column;
    margin-right: calc(var(--length) * 15);
}
.footer-links_right {
    display: flex;
    flex-direction: column;
}
.footer_link {
    margin-top: calc(var(--length) * 2.2);
}
.footer-about_contact {
    max-width: calc(var(--length) * 24);
}
.footer_contact {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--length) * 1.6);
}
.footer-contact_icon {
    margin-right: calc(var(--length) * 2);
}
.footer-contact_text {
    font-size: calc(var(--font-size) * 1.4);
    line-height: 2rem;
    letter-spacing: 0.15px;
    color: #4B4B4B;
    margin: 0;    
}
.footer-info {
    width: 100%;
    background: #5D62B5;    
}
.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: calc(var(--length) * 2.3);
    padding-bottom: calc(var(--length) * 1.8);
    flex-wrap: wrap;
    margin-right: calc(var(--length) * 1);
}
.footer-info_privacy {
    display: flex;
    align-items: center;
}
.footer-info_text {
    margin: 0;
    font-size: calc(var(--font-size) * 1.2);
    letter-spacing: 0.15px;
    color: #FFFFFF;
}
.info-privacy_coop {
    margin: 0;
    margin-right: calc(var(--length) * 1.5);
    font-size: calc(var(--font-size) * 1.2);
    text-align: right;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}
.privacy_line {
    height: calc(var(--length) * 1);
    border-left: 1px solid #fff;
    margin-left: calc(var(--length) * 1);
    margin-right: calc(var(--length) * 1);
}
.info-privacy_text {
    font-weight: bold;
    font-size: calc(var(--font-size) * 1.2);
    text-align: right;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}


/* button   */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background: #F2726F;
    color: #fff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* button   */

/* button menu*/
.menu { 
    display: none; 
}
.menu_checkbox { 
    display: none;
}


/* #menu {visibility: hidden;}  */
/* hiding the checkbox */ 

/* hamburger */
label {width:calc(var(--font-size) * 5);height:calc(var(--font-size) * .5);border-radius:5px;background:#000;cursor:pointer;-webkit-transition:0.6s;transition:0.6s;top:100%;left:50%;margin-left:2.4rem;margin-top:-.5px;}
label:before{content:"";width:calc(var(--font-size) * 5);height:calc(var(--font-size) * .5);background:#000;position:absolute;transform:translateY(-30px);-webkit-transform:translateY(-1rem);border-radius:5px;-webkit-transition:0.6s;transition:0.6s;}
label:after{content:"";width:calc(var(--font-size) * 5);height:calc(var(--font-size) * .5);background:#000;position:absolute;transform:translateY(30px);-webkit-transform:translateY(1rem);border-radius:5px;transition:0.6s;-webkit-transition:0.6s;}

/* animation when checked */
#menu:checked + label {width:0px;}
#menu:checked + label:before {transform:rotate(45deg) translate(0px);-webkit-transform:rotate(45deg) translate(0px);}
#menu:checked + label:after {transform:rotate(-45deg) translate(0px);-webkit-transform:rotate(-45deg) translate(0px);}

/* button menu*/






/* media */

@media (max-width: 1200px) {
    html, body {
        /* font-size: 8px;   */
        --length: .8rem;
    }   
    .button {
        font-size: 1rem;
    }
    .item-cicle_green::after {        
        bottom: calc(var(--length) * 2.5);
        left: calc(var(--length) * 18);  
    }
    .item-cicle_grey::after {        
        bottom: calc(var(--length) * 2.5);
        left: calc(var(--length) * 18);    
    } 
       
  }

  @media (max-width: 960px) {
    html, body {
        /* font-size: 7px;   */
        --length: .7rem;
        --font-size: .9rem;
    }    
    .info_cicle {
        width: 80%;
    }  
    .info_blob {
        top: calc(var(--length) * 40);
    }  
    .info_dog {
        top: calc(var(--length) * 55);
    }  
    .content-text_number {        
        font-size: calc(var(--font-size) * 8);       
    }
    .info-boldline_bottom {        
        width: 27%;        
    }
    .info-boldline_move {
        margin-left: 15.5%;
    }
    .info-boldline_move1 {
        margin-left: 43.5%;
    }
    .info-boldline_move2 {
        margin-left: 73%;
    }
     
  }

@media (max-width: 768px) {
    html, body {
        /* font-size: 6px;   */
        --length: .6rem;
        --font-size: .8rem;
    } 
    .button {
        font-size: .8rem;
    }
    .info_blob {
        top: calc(var(--length) * 45);
    }  
    .info_dog {
        top: calc(var(--length) * 60);
    } 
    .info-promise {
        margin-top: calc(var(--length) * 15);
    }    
     
  }

@media (max-width: 670px) {
    html, body {        
        --font-size: .7rem;
    } 
    .header-info {
        justify-content: center;
    }
     .wrap {
         width: 80%;
     }
     .wrap-info {
         width: 80%;
     }
     .nav-menu_list {
        padding-left: calc(var(--length) * 2.8);
    }
    .info-who_title {
        font-weight: 900;
        font-size: calc(var(--font-size) * 3);
        line-height: 3rem;
        margin-top: calc(var(--length) * 3.3);
    }
    .info_dog {
         top: calc(var(--length) * 60);         
     }
     .info-promise_block {
         flex-direction: column;
    }
    .info-promise {
        margin-top: calc(var(--length) * 10);
    }
    .promise-block {
         max-width: 100%;
     }
     .wrap-service_cards {
         flex-direction: row;
     }
     .block-line_one {
         flex-direction: column;
         margin-right: calc(var(--length) * 4.4);
      }
      .block-line_two {
          flex-direction: column;
      }
     .wrap-service_card {
        margin-right: 0;
        height: 100%;
    }
    .service-card_block  {
        height: calc(var(--length) * 50);
    }
    .wrap-services_block {
         max-width: calc(var(--length) * 70);
     }
     .apointment-content {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: calc(var(--length) * 70);
     }
     .button_appointment-botton {
        margin-bottom: calc(var(--length) * 3);
     }
     .content-text_title {
         margin-top: calc(var(--length) * 4);
     }
     .content_form {
         width: 100%;
     }
    .input {
        width: calc(var(--length) * 26);
    } 
    .content_text {
        margin: 0 auto;
    }
     .textarea {
         width: 80%;
     }
     .wrap-test_block {
         width: 80%;
     }
     .gallery-block_in {
         width: 80%;
     }
     .customers-block {
        flex-direction: column;
        align-items: center;
     }
     .wrap-stats_container {
         width: 80%;
     }
     .stats-info {
        padding-top: calc(var(--length) * 16);
    }
    .stats-info_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .stats-info_info {
        margin: calc(var(--length) * 3);
    }
    .stats-block_text{
        margin-bottom: calc(var(--length) * 2);
    }
    .stats-block_in {
        justify-content: center;
    }
    .footer-about {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-about_logo {
        max-width: 50%;
        text-align: center;
    }
    .footer_icons {
        justify-content: center;
        margin-bottom: calc(var(--length) * 4);
    }
    .footer-about_links {
        margin-bottom: calc(var(--length) * 4);
    }
    .info-boldline_move {
        margin-left: 14%;
    }
    .wrap-apointment {        
        max-height: calc(var(--length) * 130);
    }
    .customer-block_title {        
        max-width: calc(var(--length) * 60);
    }
    
  } 

@media (max-width: 600px) {
    html, body {
        /* font-size: 6px;   */
        --length: .6rem;
        --font-size: .65rem;
    } 
    
    .header-info_wrap {
        margin-top: calc(var(--length) * 1.2);
    }
    .nav-menu {
        display: none;
    }    
    .nav {
        justify-content: space-between;
    }
    .menu {
        display: block;
    }
    .video-picture_blob {
        width: 50%;
    }
    .apointment-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .button_bottom {
        margin-bottom: calc(var(--length) * 2.5);
    }
    .content_text {
        margin: 0;
        padding-top: calc(var(--length) * 3);
        padding-bottom: calc(var(--length) * 5);
    }
    .gallery-info_item {
        height: calc(var(--length) * 6);
        margin-left: calc(var(--length) * 2);
        margin-right: calc(var(--length) * 2);
    }
    .item-cicle_green::after {
        display: block;
        width: calc(var(--length) * .6);
        height: calc(var(--length) * .6);
        content: '';    
        border-radius: 1rem;
        background: #62B58F;
        position: relative;
        bottom: calc(var(--length) * 2.3);
        left: calc(var(--length) * 5);  
    }
    .item-cicle_grey::after {
        display: block;
        width: calc(var(--length) * .6);
        height: calc(var(--length) * .6);
        content: '';    
        border-radius: 1rem;
        background: #D5D5D5;
        position: relative;
        bottom: calc(var(--length) * 2.3);
        left: calc(var(--length) * 5);    
    }
    .stats-info {
        padding-top: calc(var(--length) * 23);
    }
    .info_blob {
        top: 60%;
    }
    .gallery-info_item {        
        line-height: 1.4rem;
    }
  }

@media (max-width: 460px) {
    html, body {
        /* font-size: 6px;   */
        --length: .6rem;
        --font-size: .7rem;
    } 
    .header-info {
        display: flex;
        flex-direction: column;
    }
    .header-info_wrap {
        display: flex;
        flex-direction: column;
    }
    .info-promise_title {
        text-align: center;
    }
    .info-call_left {
        margin: 0;
        margin-top: calc(var(--length));
        margin-bottom: calc(var(--length));
    }
    .info_blob {
        display: none;
    }
    .info_dog {
        top: 75%;
    }
    .info_page  {
        padding-top:calc(var(--length) * 8);
        width: 65%;
        margin: 0 auto;
    }
    .wrap-service_title {
        width: 65%;
        margin: 0 auto;
    }
    .info-who_title {
        margin: 0;
        margin-top: calc(var(--length));
        margin-bottom: calc(var(--length) * 1.5);
    }
    .info-who_cicle {
        top: -8%;
    }
    .video-info {
        margin-left: 47%;
    }
    .block-line_one {
        margin-right: 0;
    }
    .wrap-services_block {
        max-width: calc(var(--length) * 50);
        margin-top: 0;
    }
    .wrap-service_cards {
        flex-direction: column;
        align-items: center;
    }
    .wrap-apointment {
        max-height: calc(var(--length) * 140);
    }
    .content_form {
        width: 90%;
        height: calc(var(--length) * 75);
    }
    .button_bottom {
        margin: 0 auto;
    }
    .info-page_cards {
        flex-direction: column;
    }
    .info-page_card {
        margin: 0;
        margin-bottom: calc(var(--length) * 2);
    } 
    .info-page_card:not(:last-child) {
        margin-right: 0;
    } 
    .customer-block_title {
        margin-right: 0;
    }  
    .footer-info_text {
        padding-left: calc(var(--length) * 2);
        text-align: center;
    }
    .footer-logo_img {
        width: 100%;
    }
    .img-stats_dog {
        width: 100%;
    }
  }

